{% extends 'base.html' %}
{% block content %}
<style>
    div{
          font-family: Sans-Serif;
          color: rgb(65, 65, 65);
      }
</style>
<div class="CRN Retriever">
      
    <form method="post" >
        <label for="crn1">ENTER CLASS CRN's</label>
        <br>
        <input type="number" name="crn1"
            oninput="javascript: if (this.value.length > this.maxLength) 
            this.value = this.value.slice(0, this.maxLength);"
            maxlength="5">
        <br>
        <input type="number" name="crn2"
            oninput="javascript: if (this.value.length > this.maxLength) 
            this.value = this.value.slice(0, this.maxLength);"
            maxlength="5">
        <br>
        <input type="number" name="crn3"
            oninput="javascript: if (this.value.length > this.maxLength) 
            this.value = this.value.slice(0, this.maxLength);"
            maxlength="5">
        <br>
        <input type="number" name="crn4"
            oninput="javascript: if (this.value.length > this.maxLength) 
            this.value = this.value.slice(0, this.maxLength);"
            maxlength="5">
        <br>
        <input type="number" name="crn5"
            oninput="javascript: if (this.value.length > this.maxLength) 
            this.value = this.value.slice(0, this.maxLength);"
            maxlength="5">
        <br>
        <input type="submit" value="Enter">
    </form>
    
</div>
<div>
    <h3>Schedule</h3>
    <!-- Prints classes -->
    {% for crn in crns %}
      <p>{{ crn }} </p>
    {% endfor %}
    <!-- prints schedule -->
    <p>{{test}}</p>

    <style>
        table, td {
          border:1px solid black;
          font-size:10px;
        }
    </style>
    <!-- Calendar test -->
    <table> 
        <tr>
            <td></td>
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thusday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr>
        <tr>
            <td>8am</td>
            <td></td>
        </tr>
        
        <tr>
            <td>8:15</td>
            
        </tr>
        
        <tr>
            <td>8:30</td>
            
        </tr>
        
        <tr>
            <td>8:30</td>
            
        </tr>
        
        <tr>
            <td>8:45</td>
            
        </tr>
        
    </table>
    
</div>
{% endblock %}